{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/list.css") }}"
   {% for post in posts %}
        <div class="container epost">
            <form class="eform" method="POST" action="{{ url_for('posts_vote', post_id=post[0].id) }}">
                <h3> {{ post[0].title }} </h3>
                <button type="submit" class="btn btn-success btn-sm p-2">Vote</button>
            </form>
            {% if post[0].user_id == current_user.id %}
            <div class="d-flex">
                <form class="form-inline" method="POST" action="{{ url_for('posts_delete', post_id=post[0].id) }}">
                    <button type="submit" class="btn btn-danger btn-sm p-2">Delete</button>
                </form>
                <form class="form-inline" method="POST" action="{{ url_for('posts_update', post_id=post[0].id) }}">
                    <button type="submit" class="btn btn-info btn-sm p-2">Edit</button>
                </form>
            </div>
            {% endif %}
            By: {{ post[1] }} Votes: {{ post[2] }}
            <div class="container econtent">
                {{ post[0].content }}
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
