{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('posts_create') }}">
    <div class="form-group">
        {{ form.name.label(class_="col-sm-2 col-form-label") }}
        {{ form.name(class_="form-control") }}
        <ul>
            {% for error in form.name.errors %}
            <li> {{ error }} </li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group">
        {{ form.content.label(class_="col-sm-2 col-form-label") }}
        {{ form.content(class_="form-control") }}
        <ul>
            {% for error in form.content.errors %}
            <li> {{ error }} </li>
            {% endfor %}
        </ul>
    </div>
    <div class="d-flex">
        {% for tag in form.tags %}
            <span class="badge">
                {{ tag }}
            </span>
        {% endfor %}
    </div>
    <div class="form-group form-inline">
        {{ form.tag.label(class_="col-sm-2 col-form-label") }}
        {{ form.tag(class_="form-control") }}
        {{ form.add_tag(class_="btn btn-primary")}}
    </div>
    <button type="submit" class="btn btn-primary">Add post</button>
</form>
{% endblock %}

