{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('posts_create') }}">
    <div class="form-group">
        <label> {{ form.name.label }} </label>
        {{ form.name }}
    </div>
    <ul>
        {% for error in form.name.errors %}
        <li> {{ error }} </li>
        {% endfor %}
    </ul>
    <div class="form-group">
        <label> {{ form.content.label }} </label>
        {{ form.content }}
    </div>
    <button type="submit" class="btn btn-primary">Add post</button>
</form>
{% endblock %}

